# Baseline model - Time series

## Import du Data Frame (1M sur un total de 23M)

In [2]:
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from neuralprophet import NeuralProphet

data = pd.read_csv("../raw_data/stock_prices_latest.csv", parse_dates = True)

data.head(1000000)

KeyboardInterrupt:

In [41]:
data.index

RangeIndex(start=0, stop=23528435, step=1)

In [3]:
data.shape

(23528435, 9)

## Création de deux nouvelles features (Moving Average 10 et 20 jours)

In [7]:
data = data.assign(MVA10 = "",MVA20 = "")
data

,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient,MVA10,MVA20
0,MSFT,2016-05-16,50.80,51.96,50.7500,51.83,49.7013,20032017,1.0,,
1,MSFT,2002-01-16,68.85,69.84,67.8500,67.87,22.5902,30977700,1.0,,
2,MSFT,2001-09-18,53.41,55.00,53.1700,54.32,18.0802,41591300,1.0,,
3,MSFT,2007-10-26,36.01,36.03,34.5600,35.03,27.2232,288121200,1.0,,
4,MSFT,2014-06-27,41.61,42.29,41.5100,42.25,38.6773,74640000,1.0,,
...,...,...,...,...,...,...,...,...,...,...,...
23528430,FATE,2020-11-04,45.92,51.00,43.1101,49.82,49.8200,1275276,1.0,,
23528431,FATE,2020-11-10,50.28,52.97,49.7000,52.61,52.6100,923331,1.0,,
23528432,FATE,2020-11-09,49.41,52.48,48.1000,50.69,50.6900,795234,1.0,,
23528433,FATE,2020-11-12,53.52,54.63,51.1000,51.98,51.9800,634022,1.0,,
23528434,FATE,2020-11-06,51.12,51.15,47.2000,48.28,48.2800,586830,1.0,,

# Création d'un Data Frame uniquement sur Microsoft (MSFT)

In [48]:
# Dates triées dans l'ordre chronologique

MSFT_df= data[data.symbol=="MSFT"]
MSFT_df.sort_values(by=["date"], inplace=True)
MSFT_df

WARNING - (py.warnings._showwarnmsg) - <ipython-input-48-bcbbc4475e2c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MSFT_df.sort_values(by=["date"], inplace=True)

,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient,MVA10,MVA20
19459636,MSFT,1998-01-02,129.630,131.50,129.50,131.13,10.6796,4968500,1.0,,
19459846,MSFT,1998-01-05,131.250,133.63,127.87,130.38,10.6186,10047200,1.0,,
19459427,MSFT,1998-01-06,129.750,133.00,129.25,131.13,10.6796,8479300,1.0,,
19459493,MSFT,1998-01-07,129.880,131.19,127.50,129.56,10.5518,7686600,1.0,,
19459905,MSFT,1998-01-08,128.630,132.13,127.50,130.50,10.6283,9702400,1.0,,
...,...,...,...,...,...,...,...,...,...,...,...
23520083,MSFT,2020-11-09,224.435,228.12,217.88,218.39,218.3900,44394950,1.0,,
23520088,MSFT,2020-11-10,214.500,216.50,209.72,211.01,211.0100,44045120,1.0,,
23520086,MSFT,2020-11-11,212.390,218.04,212.20,216.55,216.5500,29440788,1.0,,
23520089,MSFT,2020-11-12,217.210,219.11,214.46,215.44,215.4400,21616115,1.0,,
23520087,MSFT,2020-11-13,216.360,217.42,214.16,216.51,216.5100,18630307,1.0,,

In [17]:
MSFT_df.dtypes

symbol                       object
date                 datetime64[ns]
open                        float64
high                        float64
low                         float64
close                       float64
close_adjusted              float64
volume                        int64
split_coefficient           float64
MVA10                        object
MVA20                        object
dtype: object

In [14]:
data.dtypes

symbol                       object
date                 datetime64[ns]
open                        float64
high                        float64
low                         float64
close                       float64
close_adjusted              float64
volume                        int64
split_coefficient           float64
MVA10                        object
MVA20                        object
dtype: object

In [22]:
data.date=pd.to_datetime(data.date, format = '%d/%m/%y')

In [16]:
5756/365

15.76986301369863

## Moving average 10 et 20 jours

In [1]:
MSFT_df['MVA20'] = MSFT_df.iloc[:,6].rolling(window=20).mean()

NameError: name 'MSFT_df' is not defined

In [47]:
MSFT_df['MVA10'] = MSFT_df.iloc[:,6].rolling(window=10).mean()

WARNING - (py.warnings._showwarnmsg) - <ipython-input-47-f4379d26493a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MSFT_df['MVA10'] = MSFT_df.iloc[:,6].rolling(window=11).mean()

In [43]:
# Modifications de nom de deux colonnes (date et MVA10) (ensuite celle de MVA20)

MSFT_df = MSFT_df[["date", "MVA10"]]
MSFT_df.rename(columns={"date": "ds", "MVA10": "y"}, inplace=True)

WARNING - (py.warnings._showwarnmsg) - /home/philekev/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

## Mise en place de l'entrainement Neural Prophet

In [ ]:
model = NeuralProphet()
metrics = model.fit(MSFT_df, validate_each_epoch=True, freq="D")

In [44]:
#making future predictions from the model
#plotting the prediction